:root {
  --container-width: 1680px;
  --text: #ffffff;
  --accent: #4e71f0;
  --accent-dark: #4e71f0;
  --text-transparent: rgba(255, 255, 255, 0.4);
  --accent-gradient: linear-gradient(90deg, #4a85ff 1.51%, #6591ff 72.1%);
  --light-shadow: 0px 0px 37px rgba(78, 113, 240, 0.9);
  --green: #76d800;
}
